<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Memories</title>
    </head>
    <body>
       <div id="main_content">
          <div id="main_left">
            <h1 id="main_title">我有一壶酒， <br> 足以慰风尘。</h1>
            <p id="main_page">这一路上，<br>我们走走停停，<br>看不同的风景，<br>赏不同的人。<br>现在，<br>我有酒，<br>你有故事吗？</p>
          </div>
          <div id="main_right">
             <p class="small_title">Username</p>
             <input type="text" name="username" placeholder="Pick a username">
             <p class="small_title">Email</p>
             <input type="email" name="email" placeholder="you@example.com">
             <p class="small_title">Password</p>
             <input type="password" name="pword" placeholder="Create a password">
             <p class="small_des">Use at least one letter, one numeral, and seven characters.</p>
             <p><a href="error.html" class="b_button">Sign up.</a></p>
          </div>
      </div>
    </body>
</html>
