<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>personal page</title>
        <link rel="stylesheet" href="{% static 'css/personal_page.css' %}">
        <script src="{% static "js/personal_page.js" %}"></script>
    </head>
    <body>
        <p>personal page</p>
        <form action="/post_story/" method="get">
            <p><input type="submit" class="b_button" value="Post your story"></p>
        </form>
        <form action="/stories/" method="get">
            <p><input type="submit" class="b_button" value="view the stories"></p>
        </form>
        <form class="" action="/" method="get">
            <input type="submit" value="log out" name="_logout">
        </form>

        <!-- TODO: 初赛之后做一个签到系统 -->
        <!-- 但是可以先把图标之类的做好 -->

        <div class="">
            <form class="" action="stories" method="get">
                <input type="submit" value="My memories" name="user_stories">
            </form>
            {% for memory in memories %}
                <p>{{ memory.title }}</p>
            {% endfor %}
        </div>
    </body>
</html>
