<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign in</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
        <script src="{% static 'js/sign_in.js' %}"></script>
    </head>
    <body>
        <div id="content1">
            <div class="row">
                <div class="top-left col-md-6">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <h1 class="main-title">我有一壶酒，<br> 足以慰风尘。</h1>
                        <p class="page">这一路上，<br>我们走走停停，<br>看不同的风景，<br>赏不同的人。<br>现在，<br>我有酒，<br>你有故事吗？</p>
                    </div>
                </div>
                <div class="top-right col-md-6">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text1">
                    <p>{{ msg }}</p>
                    <form action="/" method="post">
                        {% csrf_token %}
                        <p class="color-gray">Username</p>
                        <input type="text" name="name" id="input">
                        <p class="color-gray">Password</p>
                        <input type="password" name="password" id="input">

                        <!-- 这个 email 的 input 页面上不可见，只是为了后台的 -->
                        <input type="text" name="email" value="For hacking the form" style="display: none">
                        <p><input type="submit" class="btn btn-lg btn-success button" value="Sign in."></p>
                    </form>
                    <div class="color-gray" style="font-family: Calibri">
                        Have no account now?
                    </div>
                    <form action="/sign_up/" method="get">
                    <input type="submit" value="Sign up." class="btn btn-lg btn-success button">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="content2">
            <div class="text2 col-md-6 col-sm-offset-2">
            <h1 class="title">我有一壶酒， <br> 足以慰风尘。</h1>
            <p class="page">这一路上，<br>我们走走停停，<br>看不同的风景，<br>赏不同的人。<br>现在，<br>我有酒，<br>你有故事吗？</p>
            </div>
        </div> -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
