<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign up</title>
        <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
        <script src="{% static "js/sign_up.js" %}"></script>
    </head>
    <body>
        <p>sign up</p>
        <!-- form 里的 input 通过 name 属性传递其内部的信息给服务器  -->
        <form class="" action="/sign_up/" method="post">
            {% csrf_token %}
            <p class="small_title">Username</p>
            <input type="text" name="name" placeholder="Pick a username">
            <p class="small_title">Email</p>
            <input type="text" name="email" placeholder="you@example.com">
            <p class="small_title">Password</p>
            <input type="text" name="password" placeholder="Create a password">
            <p class="small_des">Use at least one letter, one numeral, and seven characters.</p>
            <input type="submit" value="Sign up">
       </form>
       <p>
           Already have an account?
           <form class="" action="/" method="get">
               <input type="submit" value="Sign in now">
           </form>
       </p>
    </body>
</html>
