.img-title {
    margin-top: -22px;
    width: 100%;
    height: 100%;
}

.bgi {
    background-color: #101010;
    margin-top: -8%;
    padding-bottom: 20px;
}

.green * {
    color: rgb(204,232,207);
}

.img-footer {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.b_button {
    height: 40px;
    font-weight: bold;
    font-family: Calibri;
    padding-top: 8px;
    width: 250px;
    font-family: Calibri;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.25);
    margin: 10px 0px -15px 0px;
}
